spring:
  application:
    name: ink3-batch
  config:
    import: optional:configserver:http://192.168.1.191:10264/
  cloud:
    bus:
      enabled: true
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    virtual-host: ${RABBITMQ_VIRTUAL_HOST}

management:
  endpoints:
    web:
      exposure:
        include:
          - busrefresh
